
/*

	blue:#0D68FF;
	light-blue:#0C99E8;
	aqua:#00E6FF;
	teal:#0Ce8C0;
	green:0DFF8F;

*/


body {
	background-image: url(../img/use_your_illusion.png);
	font-family: 'Advent Pro', sans-serif;
}

h1 {
	font-weight: bolder;
	color:#0C99E8;
}
