<header id="header">
  <h1>{{ site.title }}</h1>
  <div class="headshot">
    <img src="{{ site.headshot }}" alt="">
  </div>
  <p>{{ site.tagline }}</p>
  <nav>
    <ul>
      <li><a href="https://twitter.com/{{ site.twitter_username }}" class="fa fa-twitter"><span>Twitter</span></a></li>
      <li><a href="https://github.com/{{ site.github_username }}" class="fa fa-github"><span>Github</span></a></li>
      <li><a href="{{ site.linkedin_url }}" class="fa fa-linkedin"><span>LinkedIn</span></a></li>
      <li><a href="mailto:{{ site.email }}" class="fa fa-envelope-o"><span>Email</span></a></li>
    </ul>
  </nav>
</header>